<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
        id="cordova-plugin-background-barcode-scannerx"
        version="3.1.0">

  <name>BBScanner</name>

  <engines>
    <engine name="cordova" version=">=3.4.0"/>
  </engines>

  <js-module src="www/background-barcode-scanner.js" name="BBScanner">
    <clobbers target="cordova.plugins.BBScanner" />
  </js-module>

  <platform name="android">
    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="BBScanner">
        <param name="android-package" value="info.belluco.cordova.bbscanner.BBScanner"/>
      </feature>
    </config-file>
    <edit-config file="AndroidManifest.xml" target="/manifest/uses-permission[android:name='android.permission.CAMERA']" mode="merge">
      <uses-permission android:name="android.permission.CAMERA" android:required="false" />
    </edit-config>
    <edit-config file="AndroidManifest.xml" target="/manifest/uses-feature[android:name='android.hardware.camera']" mode="merge">
      <uses-feature android:name="android.hardware.camera" android:required="false" />
    </edit-config>
    <edit-config file="AndroidManifest.xml" target="/manifest/uses-feature[android:name='android.hardware.camera.front']" mode="merge">
      <uses-feature android:name="android.hardware.camera.front" android:required="false" />
    </edit-config>
    <source-file src="src/android/BBScanner.java" target-dir="src/info/belluco/cordova/bbscanner"/>
    <framework src="src/android/bbscanner.gradle" custom="true" type="gradleReference"/>
  </platform>

  <platform name="ios">
    <config-file target="config.xml" parent="/*">
      <feature name="BBScanner">
        <param name="ios-package" value="BBScanner"/>
      </feature>
    </config-file>
    <dependency id="cordova-plugin-add-swift-support" spec="~1.7.2" />
	<dependency id="cordova-plugin-cocoapod-support" version="1.5.0" />

	<pods-config ios-min-version="9.0" use-frameworks="true" />

	<pod name="ZXingObjC" version="3.2.2" />

    <source-file src="src/ios/BBScanner.swift"/>

    <edit-config file="*-Info.plist" target="NSCameraUsageDescription" mode="merge">
      <string>The camera is used to scan QR codes and barcodes.</string>
    </edit-config>
  </platform>


</plugin>
